---
import Layout from '@/layouts/Layout.astro';
import GamerCard from '@/components/GamerCard.astro';
import LightningIcon from '@/components/LightningIcon.astro';
import PowerUpCard from '@/components/PowerUpCard.astro';
import GameCard from '@/components/GameCard.astro';
import { gamers } from './sesong/03/gamers';
import { games } from './sesong/03/games';
import { powerUps } from './sesong/03/power-ups';
import ScuffedCountdown from '../components/ScuffedCountdown.astro';
import PreviousSeasonLink from '@/components/PreviousSeasonLink.astro';

const revealGamerCards = false;
const revealGames = false;
const revealVideo = false;
const revealPowerups = false;
---

<Layout title="Gamernes Gamer">
  <section class="flex flex-col gap-4 items-center max-w-prose">
    <h1 class="text-4xl sm:text-6xl font-quantico">Gamernes Gamer</h1>
    <div class="flex gap-4">
      <LightningIcon color="reddish" />
      <LightningIcon color="blueish" />
      <LightningIcon color="reddish" />
    </div>
    <p class="font-quantico">02/03/2024 - 03/03/2024</p>
    <div class="border-t-blueish border-t-2 w-1/6 mb-8"></div>

    <p>
      Gamernes Gamer er tilbake med sesong 3, og den største GG noen sinne!

      <a
        class="border-b-reddish border-b-2 hover:text-blueish transition-all"
        href="#participants">Fem utøvere</a
      > skal kjempe om å få tak i den gjeve GG-pokalen og tittelen som selveste
      Gamernes Gamer. Sesongen spilles denne gangen over 2 dager, med totalt 10
      spill. Det blir også 3 nye kraftige power-ups som kan snu poengsituasjonen
      på hodet. Dette vil du ikke gå glipp av! Tune inn på Twitch den 2. og 3.
      mars.
    </p>

    <!-- <ScuffedCountdown /> -->

    <p>
      Gikk du glipp av forrige sesong med Gamernes Gamer, eller er du litt
      nostalgisk? Sjekk ut oppsummeringsvideoen til sesong 2 under.
    </p>

    {
      revealVideo ? (
        <iframe
          class="w-5/6 aspect-video rounded-2xl"
          src="https://www.youtube.com/embed/m0ARGEpN5kg?si=GCYOdAjOgLq_xETi"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        />
      ) : (
        <div class=" bg-darkblueish w-5/6 aspect-video rounded-2xl grid place-items-center">
          Videoen slippes snart!
        </div>
      )
    }
  </section>
  <section id="participants" class="flex flex-col items-center gap-8 max-w-4xl">
    <h2 class="text-3xl sm:text-4xl font-quantico">Utøvere</h2>
    <ul class="flex flex-wrap gap-16 justify-center">
      {
        gamers.map((gamer) => (
          <li>
            <GamerCard
              name={gamer.name}
              nickname={gamer.nickname}
              imagePath={gamer.imagePath}
              overallRating={gamer.overallRating}
              stats={gamer.stats}
              revealed={revealGamerCards}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section id="games" class="flex flex-col items-center gap-8 max-w-5xl">
    <h2 class="text-3xl sm:text-4xl font-quantico">Spill</h2>
    <ul class="flex flex-wrap gap-x-20 gap-y-16 justify-center">
      {
        games.map((game) => (
          <li>
            <GameCard
              title={game.title}
              slug={'sesong/03/games/' + game.slug}
              thumbnailPath={game.thumbnailPath}
              chosenBy={game.chosenBy}
              duration={game.duration}
              shortDescription={game.shortDescription}
              revealed={revealGames}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section id="power-ups" class="flex flex-col items-center gap-8 max-w-5xl">
    <h2 class="text-3xl sm:text-4xl font-quantico">Power-ups</h2>
    <ul class="flex flex-wrap gap-8 justify-center">
      {
        powerUps.map((powerUp) => (
          <li>
            <PowerUpCard {...powerUp} revealed={revealPowerups} />
          </li>
        ))
      }
    </ul>
  </section>

  <section id="power-ups" class="flex flex-col items-center gap-8 max-w-5xl">
    <h2 class="text-3xl sm:text-4xl font-quantico">Tidligere sesonger</h2>
    <ul class="flex flex-wrap gap-8 justify-center">
      <li>
        <PreviousSeasonLink season={1} />
      </li>
      <li>
        <PreviousSeasonLink season={2} />
      </li>
    </ul>
  </section>
</Layout>
