---
import LightningIcon from './LightningIcon.astro';
interface Props {
  title: string;
  slug: string;
  thumbnailPath: string;
  chosenBy: string;
  duration: string;
  shortDescription: string;
  revealed: boolean;
}

const {
  title,
  slug,
  thumbnailPath,
  chosenBy,
  duration,
  shortDescription,
  revealed,
} = Astro.props;
---

{
  revealed ? (
    <a
      class="flex flex-col max-w-[18rem] items-center gap-2 border-2 hover:bg-[#2a252c] border-darkblueish h-full p-4 rounded-2xl transition-all"
      href={slug}
    >
      <img src={thumbnailPath} alt={title} class="rounded-3xl" />
      <h3 class="font-quantico text-xl">{title}</h3>
      <div class="flex font-quantico gap-4 text-reddish">
        <p>{chosenBy}</p>
        <LightningIcon color="blueish" />
        <p>{duration}</p>
      </div>
      <p class="text-center">{shortDescription}</p>
    </a>
  ) : (
    <div class="flex flex-col max-w-[18rem] items-center gap-2 border-darkblueish border-2 p-4 rounded-2xl">
      <div class="rounded-3xl w-64 h-40 bg-darkblueish grid place-items-center font-quantico text-9xl">
        ?
      </div>
      <h3 class="font-quantico text-xl">Mystisk spill</h3>
      <div class="flex font-quantico gap-4 text-reddish">
        <p>-</p>
        <LightningIcon color="blueish" />
        <p>-</p>
      </div>
      <p class="text-center">
        Når spillene har blitt avslørt kommer de til å vises her!
      </p>
    </div>
  )
}
