---
import GamerCard from '../../../components/GamerCard.astro';
import LightningIcon from '../../../components/LightningIcon.astro';
import Layout from '../../../layouts/Layout.astro';
import GameCard from '../../../components/GameCard.astro';
import { gamers } from './gamers';
import { games } from './games';
import { powerUps } from './power-ups';
import PowerUpCard from '../../../components/PowerUpCard.astro';
import ScuffedCountdown from '../../../components/ScuffedCountdown.astro';

const revealGamerCards = true;
const revealGames = true;
const revealVideo = false;
const revealPowerups = true;
---

<Layout title="Sesong 2 - Gamernes Gamer">
  <section class="flex flex-col gap-4 items-center max-w-prose w-full">
    <a href="/" class="block group self-start"
      ><span
        class="text-xl text-blueish pr-2 group-hover:text-reddish transition-colors duration-200"
        >←</span
      ><span class="">Gå tilbake</span></a
    >
    <h1 class="text-4xl sm:text-6xl font-quantico">Sesong 2</h1>
    <div class="flex gap-4">
      <LightningIcon color="reddish" />
      <LightningIcon color="blueish" />
      <LightningIcon color="reddish" />
    </div>
    <p class="font-quantico">07/10/2023</p>
    <div class="border-t-blueish border-t-2 w-1/6 mb-8"></div>

    {
      revealVideo ? (
        <iframe
          class="w-5/6 aspect-video rounded-2xl"
          src="https://www.youtube.com/embed/m0ARGEpN5kg?si=GCYOdAjOgLq_xETi"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        />
      ) : (
        <div class=" bg-darkblueish w-5/6 aspect-video rounded-2xl grid place-items-center">
          Sesongens video slippes snart!
        </div>
      )
    }
  </section>

  <section id="participants" class="flex flex-col items-center gap-8 max-w-4xl">
    <h2 class="text-3xl sm:text-4xl font-quantico">Utøvere</h2>
    <ul class="flex flex-wrap gap-16 justify-center">
      {
        gamers.map((gamer) => (
          <li>
            <GamerCard
              name={gamer.name}
              nickname={gamer.nickname}
              imagePath={gamer.imagePath}
              overallRating={gamer.overallRating}
              stats={gamer.stats}
              revealed={revealGamerCards}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section id="games" class="flex flex-col items-center gap-8 max-w-5xl">
    <h2 class="text-3xl sm:text-4xl font-quantico">Spill</h2>
    <ul class="flex flex-wrap gap-x-20 gap-y-16 justify-center">
      {
        games.map((game) => (
          <li>
            <GameCard
              title={game.title}
              slug={'/sesong/02/games/' + game.slug}
              thumbnailPath={game.thumbnailPath}
              chosenBy={game.chosenBy}
              duration={game.duration}
              shortDescription={game.shortDescription}
              revealed={revealGames}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section id="power-ups" class="flex flex-col items-center gap-8 max-w-5xl">
    <h2 class="text-3xl sm:text-4xl font-quantico">Power-ups</h2>
    <ul class="flex flex-wrap gap-8 justify-center">
      {
        powerUps.map((powerUp) => (
          <li>
            <PowerUpCard {...powerUp} revealed={revealPowerups} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
